/* Fontes */

@font-face {
    font-family: "interBold";
    src: url(../fontes/InterBold.ttf);
}

@font-face {
    font-family: "interRegular";
    src: url(../fontes/InterRegular.ttf);
}

@font-face {
    font-family: "interlight";
    src: url(../fontes/InterLight.ttf);
}

main{
    position: relative;
}

/* Header */

.topo{
    font-size: 1.5rem;
    font-family: "interBold";

    background-color: var(--color--baby-blue);
    color: var(--color--black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 136px;
    gap: 10px;
}

.topo__titulo{    
    color: var(--color--blue);
}

/* Conteudo Principal */

.conteudo{
    display: flex;
}

/* Pizza Card */

.pizza-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding: 30px 0;
}

.pizzas-card__item{
    display: flex;
    width: 349px;
    height: 400px;
    padding: 128px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 8px;
    line-height: 2rem;
    text-align: center;

    border-radius: 35px;
    background: #FFF;
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25);
}

.fa-circle-plus{
    position: relative;
    top: -42px;
    font-size: 3rem;
    color: var(--color--blue);
}

.pizzas-cards__preco{
    font-family: "interlight";
    font-size: 24px ;
}

.pizzas-cards__titulo{
    font-family: "interbold";
    font-weight: bold;
    font-size: 24px;
}

.pizzas-cards__texto{
    font-family: "interlight";
    font-size: 16px;
}

/* Modal */

.background-modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}
 
.background-modal:target {
    visibility: visible;
    opacity: 1;
}
 
 
.modal-pizza {
    /* position: absolute;
    left: calc(50vw - 316px);
    top: calc(50vh - 160px); */
    width: 600px;    
    min-width: 600px;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 32px 16px;
}
 
.modal-pizza__btn-fechar {    
    display:block;
    width:32px;
    padding:8px;
    text-align: center;    
    align-self: flex-start;
    order: 1;
    color: #aaa;
    font-size: 0.75rem;    
    text-decoration: none;
}
 
.modal-pizza__btn-fechar:hover {
    color: #bcc;
}
 
 
.modal-pizza__img {
    width: 200px;
    height: 200px;
}
 
.modal-pizza__detalhes {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
 
.modal-pizza__tx-titulo {
    font-family: "InterBold";
    font-size: 2rem;
}
 
.modal-pizza__tx-preco,
.modal-pizza__tx-tamanho {
    font-family: "InterLight";
    font-size: 1rem;
    text-transform: uppercase;
}
 
.modal-pizza__preco {
    display: flex;
}
 
 
.modal-pizza__controle-tamanhos {
    display: flex;
    justify-content: center;
    font-family: "InterBold";
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    /* padding: 0 8px; */
    /*não colocar - demonstrar */
 
    background-color: #eee;
    border-radius: 16px;
    overflow: hidden;
}
 
.modal-pizza__tamanho {
    padding: 8px;
    cursor: pointer;
}
 
.modal-pizza__tamanho:hover {
    background-color: #1298F8;
}
 
.modal-pizza__tamanho--ativo {
    background-color: #1298F8;
}
 
.modal-pizza__tamanho span {
    font-family: "InterLight";
    font-size: 0.75rem;
}
 
.modal-pizza__qtd {
    display: flex;
    align-items: center;
    gap: 16px;
}
 
.modal-pizza__controle-qtd {
    display: flex;
    border-radius: 16px;
    width: 64px;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #EEE;
}
 
.modal-pizza__menos,
.modal-pizza__mais {
    cursor: pointer;
    padding: 0px 10px;
    color: #333;
    border: 0;
    background-color: transparent;
    font-size: 16px;
}
 
.modal-pizza__btns {
    display: flex;
    gap: 16px;
}
 
.modal-pizza__btn {
    padding: 8px 16px;
    border-radius: 16px;
    color: #fff;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
 
.modal-pizza__btn--adicionar {
    background-color: #48D05F;
    cursor: pointer;
}

.modal-pizza__btn--adicionar a{
    color: #ffffff;
    text-decoration: none;
}
 
.modal-pizza__btn--cancelar {
    background-color: #E92929;
    cursor: pointer;
}

/* Footer */

footer{
    display: flex;
    height: 144px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--color--baby-blue);
    text-align: center;
    font-family: "interRegular";
}

/* Midia Query */

@media screen and (max-width: 665px){    
    .modal-pizza{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 50%;
        min-width: 300px;
    }

    .modal-pizza__detalhes{
        display: flex;
        align-items: center;
    }

    .modal-pizza__btn-fechar{
        order: -1;
        align-self: flex-end;
    }
}

@media screen and (max-width: 944px) {  
    .modal-pizza__controle-tamanhos{
        text-align: center;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 16px;
        gap: 16px;
        height: auto;
    }

    .rodape__redes-sociais{
        order: -1;
    }

    .modal-pizza__btn-fechar{
        order: 1;
    }
}

