@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    margin-left: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li a{
    text-decoration: none;
    color: #ffff;
}

header{
    width: 100%;
    height: 100px;
    background-color: #122A57;
    color: #ffff;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 992px;
    min-width: 320px;
    margin: 0 auto;
    height: 100%;
}

.list-item{
    display: flex;
    justify-content: space-between;
    width: 500px;
    text-transform: uppercase;
    font-weight: bolder;
}

.list-item a:hover{
    color: #7398F0;
    border-bottom: 5px solid #7398F0;
    padding-bottom: 37px;
}

.container{
    margin: 0 auto;
    max-width: 992px;
    min-width: 320px;
}

.apresentacao{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.apresentacao .txt-apresentacao{
    height: 200px;
}

.txt-apresentacao h2{
    color: #122A57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn{
    display: inline-block;
    width: 220px;
    height: 50px;
    color: white;
    background-color: #122A57;
    border-radius: 30px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    line-height: 50px;
    margin-top: 20px;
}

.btn:hover{
    color: black;
    background-color: #7398F0;
}

.quem-somos{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 70px;
}

.quem-somos__title{
    color: #122A57;
    font-size: 48px;
    margin-bottom: 30px;
    border-left: 5px solid #122A57;
    padding-left: 10px;
}

.quem-somos__paragrafo{
    line-height: 23px;
}

.container-externo{
    width: 100%;
    background-color: #122A57;
}

#servicos{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

#servicos h2{
    color: #ffff;
    font-size: 48px;
    margin-bottom: 30px;
}

.list-servicos{
    color: #ffff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-servicos p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.list-servicos a{
    color: #122A57;
    background-color: #ffff;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-servicos a:hover{
    background-color: #7398F0;
    color: #ffff;
}

.list-servicos img{
    margin-bottom: 20px;
}