@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.top-bar{
    background-color: #D5DADA;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 80px;
    font-family: 'Roboto', sans-serif;
}

.top-bar__brand-logo{
    width: auto;
    height: 8vh;
}

.top-bar__brand{
    font-family: 'Roboto', sans-serif;
}

.login{
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
}

.login__logo{
    width: auto;
    height: 4vh;
}

.login__btn-entrar{
    color: #ffff;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
}

.login__btn-entrar:hover{
    color: red;
}